* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* --------------------------------- */

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.container {
    display: flex;
    width: 500px;
    height: 100px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    gap: 8px;
    background-color: transparent;
    padding: 8px;
    margin: 5%;
    border: 2px dashed #bab7b7;
}

.item {
    flex: 1;
    /*Itmeansflex-grow=1flex-shrink=1flex-basis=0//Shorthand*/
    background: #7b68ee;
    transition: all 0.5s ease-in-out;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    /*cursor: pointer;
    */
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;

    -webkit-transition: all 0.5s ease-in-out;

    &:active {
        flex: 3;
        background: #ffa07a;
    }
}