* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* -----------------------Font Face------------------------ */
@font-face {
    font-family: 'estedad';
    src: url(../fonts/Estedad-Medium.ttf);
    font-weight: normal;
}

/* ------------------------Class--------------------------- */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --------------------------------------------------------- */
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DADADA;
    font-family: 'estedad';

}

.container {
    width: 1920px;
    height: 1080px;
    background-color: #ffff;
    display: flex;
}

/* Start Section Left */

.section-left,
.img-left {
    width: 1084px;
    height: 1084px;
    /* margin-top: -4px; */
}

.fig-img-left {
    width: 100%;
    height: 100%;
}

/* End Section Left */

/* Start Section Right */

.section-right {
    width: 100%;
    justify-content: start;
    flex-direction: column;
    margin-top: 182px;
    direction: rtl;
}

.img-right,
.fig-img-right {
    width: 303px;
    height: 242px;
}

figcaption {
    width: 448px;
    height: 40px;
    margin-top: 22px;
}

.caption {
    text-align: center;
    font-family: 'estedad';
    font-size: 16px;
    line-height: 40px;
}

.form {
    margin-top: 36px;
}

.form-info {
    flex-direction: column;
    gap: 32px;
}

.info-login {
    flex-direction: column;
    gap: 12px;
}

.form-section {
    width: 354px;
    font-family: 'estedad';

    font-size: 16px;
    line-height: 32px;
    color: #190C33;
    flex-direction: column;
    gap: 4px;
}

.lbl-username,
.lbl-password {
    width: 100%;
    padding: 0 8px;
}

.inpt {
    font-family: 'estedad';

    direction: ltr;
    text-align: left;
    width: 100%;
    height: 48px;
    outline: 0;
    border: none;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    padding: 15px 12px 15px 10px;
    background-color: #F7F8FA;
    font-size: 13px;
    line-height: 18px;
    color: #A5A5A5;
    letter-spacing: 0;
    /* margin-bottom: 22px; */
}

.inpt:placeholder-shown {
    direction: rtl;
    text-align: right;
}

.spacing {
    width: 100%;
    height: 18px;
    padding: 0 12px;
}

.btn-login {
    width: 100%;
}

.inpt-login {
    width: 100%;
    font-family: 'estedad';
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    border: none;
    outline: 0;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    color: #FFFFFF;
    background-color: #234C6A;
    padding: 8px 16px;
}

/* End Section Right */